.advantage {
  text-align: center;

  &__link {
    display: block;
  }

  &__photo {
    display: block;
    width: 50%;
    margin-inline: auto;

    @include onDesktop {
      @include hover(scale, 1.1);
    }
  }

  &__title {
    margin-top: 32px;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.4em;
    // color: $color-red-primary;
  }

  &__text {
    margin-top: 8px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
  }
}
